
<aside class="main-sidebar">
    <!-- sidebar -->
    <div class="sidebar">
        <!-- sidebar menu -->
        <ul class="sidebar-menu">
            <li class="active">
                <a href="index.html">
                    <i class="fa fa-tachometer"></i><span>Dashboard</span>
                    <span class="pull-right-container">
                    </span>
                </a>
            </li>
            <li class="active">
                <a href="/ManageAccount/Index">
                    <i class="fa fa-tachometer"></i><span>Manage Account</span>
                    <span class="pull-right-container">
                    </span>
                </a>
            </li>
            <li class="active">
                <a href="/ManageProgram/Index">
                    <i class="fa fa-tachometer"></i><span>Manage Program</span>
                    <span class="pull-right-container">
                    </span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-users"></i><span>Customers</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Person/Index.cshtml">Add Customer/List</a></li>
                   
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-shopping-basket"></i><span>Transaction</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/PaymentScreen/Index">All Payments</a></li>
                  
                   
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-shopping-basket"></i><span>Budget</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Budget/Index">All Budget</a></li>


                </ul>
            </li>
          
        </ul>
    </div>
    <!-- /.sidebar -->
</aside>