@using WebApplication1.Concrete_Classes;
<aside class="main-sidebar">
    <!-- sidebar -->
    <div class="sidebar">
        <!-- sidebar menu -->
        <ul class="sidebar-menu">
            <li class="active">
                <a href="index.html">
                    <i class="fa fa-tachometer"></i><span>Dashboard</span>
                    <span class="pull-right-container">
                    </span>
                </a>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-shopping-basket"></i><span>Budgets</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Budget/Index">All Budget</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-shopping-basket"></i><span>Payments</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/PaymentScreen/Index">All Payments</a></li>


                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-users"></i><span>Customers    
                    &nbsp; @WebApplication1.Concrete_Classes.SessionManager.RoleId</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Person/Index">Add Customer/List</a></li>

                </ul>
            </li>
            

@if (@WebApplication1.Concrete_Classes.SessionManager.RoleId == 1)
    {
            <li class="active">
                <a href="/ManageAccount/Index">
                    <i class="fa fa-tachometer"></i><span>Manage Accounts</span>
                    <span class="pull-right-container">
                    </span>
                </a>
            </li>

            <li class="active">
                <a href="/ManageProgram/Index">
                    <i class="fa fa-tachometer"></i><span>Manage Programs</span>
                    <span class="pull-right-container">
                    </span>
                </a>
            </li>
           
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-shopping-basket"></i><span>User Management</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li id="liU"><a href="/User/Index">Users</a></li>
                    <li id="li"><a href="/ManageRole/Index">Role Management</a></li>
                </ul>
            </li>
}
        </ul>
    </div>
    <!-- /.sidebar -->
</aside>