@{
    ViewBag.Title = "Payment";
}

<div ng-controller="paymentController">
    <div ng-show="PageMode != Mode.ListMode">
        @Html.Partial("_AddEditPayment")
    </div>
    <div ng-show="PageMode == Mode.ListMode">
        @Html.Partial("_ListPayment")
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/App/app.js"></script>
    <script src="~/Scripts/App/Services/paymentService.js"></script>
    <script src="~/Scripts/App/Controllers/paymentController.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}
<!-- /.content -->
